/* Fonts */
@font-face {
  font-family: "QuickSand_Light";
  src: url("../images/fonts/Quicksand/Quicksand_Light.otf");
}
@font-face {
  font-family: "Quicksand_Bold";
  src: url("../images/fonts/Quicksand/Quicksand_Bold.otf");
}
@font-face {
  font-family: "Allura";
  src: url("../images/fonts/Allura.otf");
}
@font-face {
  font-family: "Maven_Light";
  src: url("../images/fonts/Maven/MavenProLight-300.otf");
}
@font-face {
  font-family: "Maven_Bold";
  src: url("../images/fonts/Maven/MavenPro-Bold.ttf");
}
/* Colors */
html {
  height: 100%;
  font-family: Maven_Light, Helvetica, Arial, Tahoma, sans-serif;
  font-weight: lighter;
}
body {
  height: 100%;
  margin: 0;
}
h1 {
  font-family: Allura, Helvetica, Arial, Tahoma, sans-serif;
  font-size: 20px;
}
h2 {
  font-family: Maven_Bold, Helvetica, Arial, Tahoma, sans-serif;
  font-size: 14px;
}
ul {
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}
.red {
  color: #dc143c;
}
strong {
  font-family: Maven_Bold;
}
.clear-fix::after {
  clear: both;
  content: "";
  display: block;
}
.first-section {
  width: 100%;
  height: 100%;
}
.first-section .big-box {
  width: 50%;
  height: 100%;
  float: left;
  z-index: 100;
  position: relative;
}
.first-section .big-box .icon {
  width: 78px;
  height: 137px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -39px;
  margin-top: -68px;
  background: url(../images/icon-mark.png);
  -webkit-transition-duration: 200ms;
}
.first-section .big-box .nav {
  width: 100%;
  height: 100%;
  background: #282828;
  position: absolute;
  top: 0;
  -webkit-transition-duration: 500ms;
  opacity: 0;
}
.first-section .big-box .nav .name-style {
  width: 139px;
  height: 22px;
  position: absolute;
  left: 50%;
  margin-left: -70px;
  background: url(../images/Mark-Moore-style.png);
  -webkit-transition-duration: 500ms;
}
.first-section .big-box .nav .name {
  width: 95px;
  height: 12px;
  margin-top: 32px;
  position: absolute;
  left: 50%;
  margin-left: -46px;
  color: #fff;
  -webkit-transition-duration: 500ms;
}
.first-section .big-box .nav .position {
  height: 216px;
  color: #dc143c;
  text-align: center;
  font-size: 60px;
  position: relative;
  top: 24%;
}
.first-section .big-box .nav .position .position-connect {
  height: 80px;
  width: 1px;
  background: #dc143c;
  margin: 0.2em auto;
}
.first-section .big-box .nav .category {
  position: relative;
  top: 45%;
}
.first-section .big-box .nav .category ul li {
  border-top: 1px solid #dc143c;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #dc143c;
  font-size: 14px;
  font-weight: lighter;
  -webkit-transition-duration: 200ms;
  cursor: pointer;
}
.first-section .big-box .nav .category ul li:last-child {
  border-bottom: 1px solid #dc143c;
}
.first-section .big-box .nav .category ul li:hover {
  background: #dc143c;
  color: #282828;
}
.first-section .big-box .nav .contacts {
  position: relative;
  top: 35%;
  -webkit-transition-duration: 200ms;
}
.first-section .big-box .nav .contacts > div {
  width: 33.3333333%;
  height: 27px;
  float: left;
  -webkit-transition-duration: 200ms;
  cursor: pointer;
}
.first-section .big-box .nav .contacts .wechat .qr-code {
  width: 102px;
  height: 118px;
  position: absolute;
  top: -128px;
  right: 0;
  margin-right: -35px;
  opacity: 0;
  -webkit-transition-duration: 200ms;
}
.first-section .big-box:hover .nav {
  opacity: 1;
}
.first-section .big-box:hover .nav .name-style {
  margin-top: 12px;
}
.first-section .big-box:hover .nav .name {
  margin-top: 44px;
}
.first-section .big-box:hover .icon {
  opacity: 0;
}
.first-section .big-box:hover .contacts {
  margin-top: -10px;
}
.first-section .big-box.mark {
  background: #282828;
}
.first-section .big-box.mark .contacts .wechat {
  position: relative;
  background: url(../images/mark_wechat_bl.png) 100% 0 no-repeat;
}
.first-section .big-box.mark .contacts .wechat .qr-code {
  background: url(../images/mark_qr_code.png);
}
.first-section .big-box.mark .contacts .wechat:hover {
  background: url(../images/mark_wechat_re.png) 100% 0 no-repeat;
}
.first-section .big-box.mark .contacts .wechat:hover .qr-code {
  opacity: 1;
}
.first-section .big-box.mark .contacts .qq {
  background: url(../images/mark_QQ_bl.png) 50% 0 no-repeat;
}
.first-section .big-box.mark .contacts .qq :hover {
  background: url(../images/mark_QQ_re.png) 50% 0 no-repeat;
}
.first-section .big-box.mark .contacts .weibo {
  background: url(../images/mark_weibo_bl.png) 0 0 no-repeat;
}
.first-section .big-box.mark .contacts .weibo :hover {
  background: url(../images/mark_weibo_re.png) 0 0 no-repeat;
}
.first-section .big-box.ash {
  background: #dc143c;
}
.first-section .big-box.ash .icon {
  width: 65px;
  height: 138px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -33px;
  margin-top: -69px;
  background: url(../images/icon-ash.png);
}
.first-section .big-box.ash .nav {
  background: #dc143c;
}
.first-section .big-box.ash .nav .name-style {
  width: 90px;
  height: 23px;
  margin-left: -45px;
  background: url(../images/Ash-Zou-style.png);
}
.first-section .big-box.ash .nav .name {
  width: 64px;
  height: 12px;
  margin-left: -30px;
  color: #fff;
}
.first-section .big-box.ash .position {
  color: #282828;
}
.first-section .big-box.ash .position .position-connect {
  height: 80px;
  width: 1px;
  background: #282828;
}
.first-section .big-box.ash .category ul li {
  border-top: 1px solid #282828;
  color: #282828;
}
.first-section .big-box.ash .category ul li:last-child {
  border-bottom: 1px solid #282828;
}
.first-section .big-box.ash .category ul li:hover {
  background: #282828;
  color: #dc143c;
}
.first-section .big-box.ash .contacts .wechat {
  position: relative;
  background: url(../images/ash_wechat_bl.png) 100% 0 no-repeat;
}
.first-section .big-box.ash .contacts .wechat .qr-code {
  background: url(../images/ash_qr_code.png);
}
.first-section .big-box.ash .contacts .wechat:hover {
  background: url(../images/ash_wechat_wh.png) 100% 0 no-repeat;
}
.first-section .big-box.ash .contacts .wechat:hover .qr-code {
  opacity: 1;
}
.first-section .big-box.ash .contacts .qq {
  background: url(../images/ash_QQ_bl.png) 50% 0 no-repeat;
}
.first-section .big-box.ash .contacts .qq:hover {
  background: url(../images/ash_QQ_wh.png) 50% 0 no-repeat;
}
.first-section .big-box.ash .contacts .weibo {
  background: url(../images/ash_weibo_bl.png) 0 0 no-repeat;
}
.first-section .big-box.ash .contacts .weibo :hover {
  background: url(../images/ash_weibo_wh.png) 0 0 no-repeat;
}
.section-container .second-section {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
@-webkit-keyframes portrait {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
.section-container .second-section .self-portrait {
  width: 100%;
  height: 100%;
  -webkit-animation-name: "portrait";
  -webkit-animation-duration: 30s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
}
.section-container .second-section .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.section-container .second-section .name-style {
  width: 139px;
  height: 22px;
  margin: 1em auto;
  background: url(../images/Mark-Moore-style.png);
}
.section-container .second-section .name {
  width: 95px;
  height: 12px;
  margin: 1em auto;
  text-align: center;
  color: #fff;
}
.section-container .second-section .position {
  color: #dc143c;
  text-align: center;
  font-size: 60px;
  position: relative;
  top: 10%;
}
.section-container .second-section .position-icon {
  width: 80px;
  height: 55px;
  margin: 0 auto;
  background: url(../images/mark_icon_wh_2.png) no-repeat;
}
.section-container .second-section .position-img {
  width: 534px;
  height: 286px;
  margin: 30px auto;
  background: url(../images/mark_pm.png) no-repeat;
}
.section-container .second-section .position-major {
  margin-top: 0.6em;
}
.section-container .second-section .position-minor {
  margin-top: 0.6em;
}
.section-container .second-section .contacts {
  position: relative;
  top: 45%;
  width: 192px;
  height: 27px;
  margin: 0 auto;
}
.section-container .second-section .contacts > div {
  width: 34px;
  height: 27px;
  margin: 0 15px;
  -webkit-transition-duration: 200ms;
  cursor: pointer;
  float: left;
  text-align: center;
}
.section-container .second-section .contacts .wechat .qr-code {
  width: 102px;
  height: 118px;
  position: absolute;
  top: -128px;
  right: 20%;
  margin-right: -35px;
  opacity: 0;
  -webkit-transition-duration: 200ms;
}
.section-container .second-section .see-more {
  width: 68px;
  height: 57px;
  left: 50%;
  margin-left: -34px;
  position: absolute;
  bottom: 100px;
  background: url(../images/ash_arrow.png) no-repeat;
  background-position: 9px 30px;
  color: #fff;
  font-size: 20px;
  opacity: 0.4;
}
.section-container .nav-bar {
  width: 30%;
  height: 100%;
  top: 0;
  float: left;
  border-right: 1px solid #282828;
  box-sizing: border-box;
  -webkit-transition-duration: 200ms;
}
.section-container .nav-bar.fix {
  position: fixed;
}
.section-container .nav-bar .avatar-container {
  width: 100%;
  height: 20%;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.section-container .nav-bar .avatar-container .avatar {
  width: 100%;
  height: 100%;
  background: url(../images/mark_portrait_1.jpg) no-repeat;
  background-size: cover;
  -webkit-transition-duration: 1000ms;
  cursor: pointer;
}
.section-container .nav-bar .avatar-container .avatar:hover {
  -webkit-transform: scale(1.01);
}
.section-container .nav-bar .favor {
  width: 100%;
  height: 20%;
  background: url(../images/mark_icon_wh.png) 50% no-repeat;
}
.section-container .nav-bar ul li {
  border-bottom: 1px solid #656565;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #656565;
  font-size: 14px;
  font-weight: lighter;
  -webkit-transition-duration: 200ms;
  cursor: pointer;
}
.section-container .nav-bar ul li span {
  width: 1px;
  height: 100%;
  display: block;
  float: right;
  margin-right: -1px;
  background: #282828;
}
.section-container .nav-bar ul li span.show {
  background: #fff;
}
.section-container .nav-bar ul li:first-child {
  border-top: 1px solid #656565;
}
.section-container .nav-bar ul li:hover,
.section-container .nav-bar ul li.activited {
  color: #DC143C;
}
.section-container .nav-bar .blank {
  width: 100%;
  height: 100%;
  border-right: 1px solid #656565;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  z-index: 0;
}
.section-container .nav-bar.style2 ul {
  z-index: 1;
  position: relative;
}
.section-container .nav-bar.style2 ul li {
  border-collapse: collapse;
  box-sizing: border-box;
}
.section-container .nav-bar.style2 ul li:hover,
.section-container .nav-bar.style2 ul li.activited {
  background: #282828;
  color: #dc143c;
}
.section-container .third-section {
  margin-left: 30%;
}
.section-container .third-section .all-about-work {
  width: 100%;
  min-height: 100%;
  float: right;
  background: #282828;
  padding: 35px;
  box-sizing: border-box;
  color: #fff;
}
.section-container .third-section .all-about-work .short-desc p {
  width: 100%;
  line-height: 24px;
  font-size: 14px;
}
.section-container .third-section .all-about-work .project-desc p {
  line-height: 18px;
  font-size: 14px;
}
.section-container .third-section .all-about-work ul li {
  position: relative;
  margin-left: 480px;
  margin-bottom: 20px;
  height: 300px;
}
.section-container .third-section .all-about-work ul li .project-thumbnail {
  width: 450px;
  height: 300px;
  background: #9b9b9b;
  float: left;
  margin-left: -480px;
  position: relative;
  box-shadow: 0 0 12px rgba(40, 40, 40, 0.7);
}
.section-container .third-section .all-about-work ul li .project-thumbnail img.gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -webkit-transition-duration: 1s;
}
.section-container .third-section .all-about-work ul li .project-title {
  position: absolute;
  top: 140px;
  left: 380px;
  width: 250px;
  z-index: 1;
  text-shadow: 4px 4px 10px #282828;
}
.section-container .third-section .all-about-work ul li .project-title .project-bottom {
  width: 100px;
  height: 3px;
  background: #dc143c;
}
.section-container .third-section .all-about-work ul li.style2 {
  margin-left: 0;
}
.section-container .third-section .all-about-work ul li.style2 .project-thumbnail {
  clear: both;
  position: absolute;
  right: 0;
  margin-left: 0;
}
.section-container .third-section .all-about-work ul li.style2 .project-title {
  left: -80px;
}
.section-container .third-section .all-about-work ul li.style2 .project-desc {
  margin-left: 5px;
  float: left;
  margin-right: 480px;
}
.section-container .third-section .all-about-work ul li:hover img.gray {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: gray;
}
.section-container .forth-section {
  margin-left: 30%;
}
.section-container .forth-section .all-about-me {
  width: 100%;
  position: relative;
  float: right;
}
.section-container .forth-section .all-about-me h1 {
  margin: 0;
}
.section-container .forth-section .all-about-me p {
  line-height: 26px;
  font-size: 14px;
}
.section-container .forth-section .all-about-me .about-me {
  position: relative;
  margin-right: 385px;
  padding: 35px;
}
.section-container .forth-section .all-about-me .about-me .mark {
  position: absolute;
  top: 0;
  right: -385px;
  width: 385px;
  height: 905px;
  background: url(../images/bigM.png) no-repeat;
}
.section-container .forth-section .all-about-me .about-me .ash {
  position: absolute;
  top: 0;
  right: -385px;
  width: 358px;
  height: 885px;
  background: url(../images/bigA.png) no-repeat;
}
.section-container .forth-section .all-about-me .about-me table {
  width: 100%;
}
.section-container .forth-section .all-about-me .about-me table td {
  padding-bottom: 30px;
  line-height: 22px;
}
.section-container .forth-section .all-about-me .skills {
  padding: 35px;
}
.section-container .forth-section .all-about-me .skills .personal-skills {
  position: relative;
}
.section-container .forth-section .all-about-me .skills h2 {
  margin-top: 30px;
}
.section-container .forth-section .all-about-me .skills .canvas-personal-skills {
  position: relative;
  width: 16.666%;
  margin-top: 30px;
  float: left;
}
.section-container .forth-section .all-about-me .skills .canvas-personal-skills canvas {
  display: block;
  margin: 0 auto;
}
.section-container .forth-section .all-about-me .skills .canvas-personal-skills .icon {
  position: absolute;
  width: 100%;
  height: 38px;
  top: 41px;
  font-size: 38px;
  line-height: 38px;
  text-align: center;
  color: #dc143c;
}
.section-container .forth-section .all-about-me .skills .canvas-personal-skills.skill-sketch .icon {
  width: 37px;
  height: 32px;
  top: 50%;
  left: 50%;
  margin-top: -28px;
  margin-left: -18px;
  background: url(../images/skills/sketch.png) no-repeat;
}
.section-container .forth-section .all-about-me .skills .canvas-personal-skills .legend {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}
.section-container .forth-section .all-about-me .skills .canvas-professional-skills {
  float: left;
}
.section-container .forth-section .all-about-me .skills .canvas-professional-skills canvas {
  margin-top: -55px;
}
.section-container .forth-section .all-about-me .skills .ash .canvas-personal-skills {
  width: 20%;
}
.section-container .forth-section .all-about-me .hire-me {
  padding: 35px;
}
.section-container .forth-section .all-about-me .hire-me ul {
  margin: 10px;
}
.section-container .forth-section .all-about-me .hire-me ul li {
  float: left;
  width: 25%;
}
.section-container .forth-section .all-about-me .interest {
  padding: 35px;
}
.section-container .forth-section .all-about-me .interest ul {
  list-style: none;
  margin-top: 30px;
}
.section-container .forth-section .all-about-me .interest ul li {
  float: left;
  text-align: center;
  width: 12.5%;
}
.section-container .fifth-section {
  margin-left: 30%;
}
.section-container .fifth-section .all-about-me .thanks {
  padding: 35px;
}
.section-container .fifth-section .all-about-me .sns {
  padding: 35px;
}
.section-container .fifth-section .all-about-me .sns h3 {
  font-size: 40px;
  margin: 0;
  font-family: Maven_Light, Tahoma, Helvetica, Arial, sans-serif;
}
.section-container .fifth-section .all-about-me .sns h3 span {
  border-bottom: 1px solid #282828;
  -webkit-transition-duration: 300ms;
}
.section-container .fifth-section .all-about-me .sns h3 span:hover {
  background: #dc143c;
}
.section-container .fifth-section .all-about-me .footer {
  width: 100%;
  height: 120px;
  display: block;
  background: #282828;
  bottom: 0;
  padding: 15px 35px;
  color: #fff;
  box-sizing: border-box;
}
.section-container.mark .second-section .self-portrait {
  background: url(../images/mark_portrait_3.jpg) no-repeat;
  background-size: cover;
}
.section-container.mark .mark {
  display: block;
  opacity: 1;
  -webkit-transition-duration: 200ms;
}
.section-container.mark .ash {
  display: none;
  opacity: 0;
}
.section-container.ash .second-section .self-portrait {
  background: url(../images/ash_personal_img.jpg) no-repeat;
  background-size: cover;
}
.section-container.ash .second-section .name-style {
  background: url(../images/Ash-Zou-style.png);
}
.section-container.ash .second-section .position {
  color: #fff;
}
.section-container.ash .second-section .position-icon {
  width: 60px;
  height: 67px;
  background: url(../images/ash_icon.png) no-repeat;
}
.section-container.ash .second-section .position-img {
  width: 454px;
  height: 307px;
  background: url(../images/ash.png) no-repeat;
}
.section-container.ash .nav-bar .avatar {
  background-image: url(../images/ash_personal_img.jpg);
  background-position: 0;
}
.section-container.ash .nav-bar .favor {
  background-image: url(../images/ash_icon_wh.png);
}
.section-container.ash .fifth-section .all-about-me .footer {
  background: #dc143c;
}
.section-container.ash .ash {
  display: block;
  opacity: 1;
}
.section-container.ash .mark {
  display: none;
  opacity: 0;
}
.pre-loading {
  width: 100%;
  height: 100%;
  background: #282828;
  position: fixed;
  top: 0;
  z-index: 100;
}
.pre-loading .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  perspective: 600px;
  transform-style: perserve-3d;
  -webkit-transform-style: perserve-3d;
}
/* The dot */
@keyframes dot {
  0% {
    -webkit-transform: rotateZ(0) translateY(0) scaleX(1);
    background-color: #DC143C;
  }
  30% {
    -webkit-transform: rotateZ(180deg) translateY(-20px) scaleX(1);
    background-color: #e94969;
  }
  50% {
    -webkit-transform: rotateZ(360deg) translateY(-20px) scaleX(1.1);
    background-color: #ec6b85;
  }
  70% {
    -webkit-transform: rotateZ(540deg) translateY(-20px) scaleX(1);
    background-color: #e94969;
  }
  100% {
    -webkit-transform: rotateZ(720deg) translateY(0) scaleX(1);
    background-color: #DC143C;
  }
}
@keyframes dot2 {
  0% {
    -webkit-transform: rotateZ(0deg) translateY(0) scaleX(1);
    background-color: #DC143C;
  }
  30% {
    -webkit-transform: rotateZ(180deg) translateY(-20px) scaleX(1);
    background-color: #e94969;
  }
  50% {
    -webkit-transform: rotateZ(270deg) translateY(-20px) scaleX(1.1);
    background-color: #ec6b85;
  }
  70% {
    -webkit-transform: rotateZ(360deg) translateY(-20px) scaleX(1);
    background-color: #e94969;
  }
  100% {
    -webkit-transform: rotateZ(540deg) translateY(0) scaleX(1);
    background-color: #DC143C;
  }
}
@keyframes dot3 {
  0% {
    -webkit-transform: rotateZ(-180deg) translateY(0) scaleX(1);
    background-color: #DC143C;
  }
  30% {
    -webkit-transform: rotateZ(0deg) translateY(-20px) scaleX(1);
    background-color: #e94969;
  }
  50% {
    -webkit-transform: rotateZ(180deg) translateY(-20px) scaleX(1.1);
    background-color: #ec6b85;
  }
  70% {
    -webkit-transform: rotateZ(360deg) translateY(-20px) scaleX(1);
    background-color: #e94969;
  }
  100% {
    -webkit-transform: rotateZ(540deg) translateY(0) scaleX(1);
    background-color: #DC143C;
  }
}
@keyframes dot4 {
  0% {
    -webkit-transform: rotateZ(-180deg) translateY(0) scaleX(1);
    background-color: #DC143C;
  }
  30% {
    -webkit-transform: rotateZ(0deg) translateY(-20px) scaleX(1);
    background-color: #e94969;
  }
  50% {
    -webkit-transform: rotateZ(90deg) translateY(-20px) scaleX(1.1);
    background-color: #ec6b85;
  }
  70% {
    -webkit-transform: rotateZ(180deg) translateY(-20px) scaleX(1);
    background-color: #e94969;
  }
  100% {
    -webkit-transform: rotateZ(360deg) translateY(0) scaleX(1);
    background-color: #DC143C;
  }
}
.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  border-radius: 100px;
  background-color: #DC143C;
  transform-style: perserve-3d;
  transform: rotateZ(0) translateY(0) scaleX(1);
  animation: dot 2200ms cubic-bezier(0.39, 0.24, 0.63, 0.74) infinite;
  -webkit-transform-style: perserve-3d;
  -webkit-transform: rotateZ(0) translateY(0) scaleX(1);
  -webkit-animation: dot 2200ms cubic-bezier(0.39, 0.24, 0.63, 0.74) infinite;
}
.dot:nth-child(2) {
  animation-name: dot2;
  -webkit-animation-name: dot2;
}
.dot:nth-child(3) {
  animation-name: dot3;
  -webkit-animation-name: dot3;
}
.dot:nth-child(4) {
  animation-name: dot4;
  -webkit-animation-name: dot4;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .big-box .nav,
  .nav-bar,
  .about-me .big-icon {
    display: none !important;
  }
}
